<header id="first">
  <div class="header-content">
    <div class="inner">
      <h1 class="cursive">{{title}}</h1>
      <h4>{{bumper}}</h4>
      <hr>
      <a href="#video-background" id="toggleVideo" data-toggle="collapse" class="btn btn-primary btn-xl">Toggle Video</a> &nbsp; <a href="#one" class="btn btn-primary btn-xl page-scroll">Get Started</a>
    </div>
  </div>
  <video autoplay="autoplay" loop="loop" class="fillWidth fadeIn wow collapse in" data-wow-delay="0.5s" poster="/src/assets/pexels-rostislav-uzunov-8303104 (Original).png" id="video-background">
    <source src="/src/assets/pexels-rostislav-uzunov-8303104 (Original).mp4" type="video/mp4">Your browser does not support the video tag. I suggest you upgrade your browser.
  </video>
</header>
